body {
    min-width: 100%;
    min-height: 100%;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
    overflow-x: hidden;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442 !important;
}

.has-error .form-control {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.has-error .form-control:focus {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
}

.has-error .input-group-addon {
    color: #a94442 !important;
    border-color: #a94442 !important;
    background-color: #f2dede !important;
}

.has-error .form-control-feedback {
    color: #a94442 !important;
}

@-moz-document url-prefix(http://) {
    scrollbar{

    }
}

::-webkit-scrollbar{
    width: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #a2e6ef;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}


.chat {
    float: left;
    background: #ffffff;
    /*border-radius: 10px;*/
    color: #434651;
    width: 100%;
    border: 1px solid #999;
    max-height: 500px;
    overflow: auto;
    box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.5);
}
.chat .chat-header img {
    float: left;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    /*border-bottom: 2px solid #0E1112;*/
    /*overflow-y: scroll;*/
    /*height: 575px;*/
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 7px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #5cce08;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #5cce08;
}
.chat .chat-history .other-message {
    background: #21c0ff;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #21c0ff;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    border: 2px dotted #0E1112;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    resize: none;
}

.chat .chat-message textarea:focus {
    border: 2px dotted #00a8c6;
}

.chat .chat-message button {
    float: right;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.mce-label{
    display: none !important;
}

.mce-i-resize{
    display: none !important;
}
.mce-resizehandle{
    pointer-events: none;
}
.kv-file-content textarea{
    height: 160px !important;
}