@font-face {
	font-family: 'icomoon';
	src: url('icomoon.eot?gtbfrl');
	src: url('icomoon.eot?gtbfrl#iefix') format('embedded-opentype'), url('icomoon.ttf?gtbfrl') format('truetype'), url('icomoon.woff?gtbfrl') format('woff'), url('icomoon.svg?gtbfrl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] { /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
	content: '\e97e';
}

.icon-athens:before {
	content: '\e97f';
}

.icon-axe-1:before {
	content: '\e980';
}

.icon-axe:before {
	content: '\e981';
}

.icon-backpacking:before {
	content: '\e982';
}

.icon-backpaker-2:before {
	content: '\e983';
}

.icon-bag:before {
	content: '\e984';
}

.icon-balloon:before {
	content: '\e985';
}

.icon-beanie:before {
	content: '\e986';
}

.icon-binoculars-1:before {
	content: '\e987';
}

.icon-binoculars-2:before {
	content: '\e988';
}

.icon-binoculars:before {
	content: '\e989';
}

.icon-bonfire:before {
	content: '\e98a';
}

.icon-bow-arrow:before {
	content: '\e98b';
}

.icon-bowling-pin:before {
	content: '\e98c';
}

.icon-briefcase:before {
	content: '\e98d';
}

.icon-burj-khalifa:before {
	content: '\e98e';
}

.icon-cab:before {
	content: '\e98f';
}

.icon-cabin:before {
	content: '\e990';
}

.icon-camp-chair:before {
	content: '\e991';
}

.icon-campfire-1:before {
	content: '\e992';
}

.icon-campfire:before {
	content: '\e993';
}

.icon-canal-house:before {
	content: '\e994';
}

.icon-canopy-walking:before {
	content: '\e995';
}

.icon-car-luggage:before {
	content: '\e996';
}

.icon-car:before {
	content: '\e997';
}

.icon-carabiner:before {
	content: '\e998';
}

.icon-christ:before {
	content: '\e999';
}

.icon-climbing-rope:before {
	content: '\e99a';
}

.icon-coffee-set:before {
	content: '\e99b';
}

.icon-compass-small:before {
	content: '\e99c';
}

.icon-compass:before {
	content: '\e99d';
}

.icon-country-skiing:before {
	content: '\e99e';
}

.icon-cruise-ship:before {
	content: '\e99f';
}

.icon-directions:before {
	content: '\e9a0';
}

.icon-door-sign:before {
	content: '\e9a1';
}

.icon-eiffel:before {
	content: '\e9a2';
}

.icon-fir-tree:before {
	content: '\e9a3';
}

.icon-fishing-rod:before {
	content: '\e9a4';
}

.icon-fishing:before {
	content: '\e9a5';
}

.icon-flash-light:before {
	content: '\e9a6';
}

.icon-globe-1:before {
	content: '\e9a7';
}

.icon-grill:before {
	content: '\e9a8';
}

.icon-hang-glider:before {
	content: '\e9a9';
}

.icon-helecopter-1:before {
	content: '\e9aa';
}

.icon-helecopter:before {
	content: '\e9ab';
}

.icon-hiking-1:before {
	content: '\e9ac';
}

.icon-hiking-poles:before {
	content: '\e9ad';
}

.icon-hot-air-balloon:before {
	content: '\e9ae';
}

.icon-information-circle:before {
	content: '\e9af';
}

.icon-information:before {
	content: '\e9b0';
}

.icon-jeep-1:before {
	content: '\e9b1';
}

.icon-jeep-2:before {
	content: '\e9b2';
}

.icon-kayak-1:before {
	content: '\e9b3';
}

.icon-kayak:before {
	content: '\e9b4';
}

.icon-key:before {
	content: '\e9b5';
}

.icon-knife:before {
	content: '\e9b6';
}

.icon-lantren:before {
	content: '\e9b7';
}

.icon-life-vest:before {
	content: '\e9b8';
}

.icon-lighter:before {
	content: '\e9b9';
}

.icon-london:before {
	content: '\e9ba';
}

.icon-map-1:before {
	content: '\e9bb';
}

.icon-map-2:before {
	content: '\e9bc';
}

.icon-map-3:before {
	content: '\e9bd';
}

.icon-map-4:before {
	content: '\e9be';
}

.icon-map-marker:before {
	content: '\e9bf';
}

.icon-motorcycle:before {
	content: '\e9c0';
}

.icon-mountain-2:before {
	content: '\e9c1';
}

.icon-mountain-3:before {
	content: '\e9c2';
}

.icon-mountain-1:before {
	content: '\e9c3';
}

.icon-mug:before {
	content: '\e9c4';
}

.icon-off-road:before {
	content: '\e9c5';
}

.icon-opera-house:before {
	content: '\e9c6';
}

.icon-palm-tree-2:before {
	content: '\e9c7';
}

.icon-palm-tree-1:before {
	content: '\e9c8';
}

.icon-parachute:before {
	content: '\e9c9';
}

.icon-paraglide:before {
	content: '\e9ca';
}

.icon-passport:before {
	content: '\e9cb';
}

.icon-picnic-table:before {
	content: '\e9cc';
}

.icon-pilot:before {
	content: '\e9cd';
}

.icon-pocket-knife:before {
	content: '\e9ce';
}

.icon-rafting:before {
	content: '\e9cf';
}

.icon-road:before {
	content: '\e9d0';
}

.icon-rowing:before {
	content: '\e9d1';
}

.icon-sailboat:before {
	content: '\e9d2';
}

.icon-ship:before {
	content: '\e9d3';
}

.icon-sight-seeing:before {
	content: '\e9d4';
}

.icon-signpost:before {
	content: '\e9d5';
}

.icon-silver-ware:before {
	content: '\e9d6';
}

.icon-ski-boot:before {
	content: '\e9d7';
}

.icon-ski-diving:before {
	content: '\e9d8';
}

.icon-ski-tour:before {
	content: '\e9d9';
}

.icon-suitcase:before {
	content: '\e9da';
}

.icon-sun:before {
	content: '\e9db';
}

.icon-suv:before {
	content: '\e9dc';
}

.icon-tent-1:before {
	content: '\e9dd';
}

.icon-icon-set-1_tent:before {
	content: '\e9de';
}

.icon-tourist:before {
	content: '\e9df';
}

.icon-train:before {
	content: '\e9e0';
}

.icon-zipline:before {
	content: '\e9e1';
}

.icon-instagram:before {
	content: '\e97c';
}

.icon-youtube:before {
	content: '\e97d';
}

.icon-cart-add:before {
	content: '\e97a';
}

.icon-user-add:before {
	content: '\e97b';
}

.icon-download:before {
	content: '\e979';
}

.icon-remove-favourite:before {
	content: '\e978';
}

.icon-heart:before {
	content: '\e976';
}

.icon-reply:before {
	content: '\e977';
}

.icon-level7:before {
	content: '\e900';
}

.icon-acitivities:before {
	content: '\e901';
}

.icon-africa:before {
	content: '\e902';
}

.icon-angle-down:before {
	content: '\e903';
}

.icon-arctic:before {
	content: '\e904';
}

.icon-arrow-left:before {
	content: '\e905';
}

.icon-arrow-down:before {
	content: '\e906';
}

.icon-angle-right:before {
	content: '\e907';
}

.icon-arrow-right:before {
	content: '\e908';
}

.icon-asia:before {
	content: '\e909';
}

.icon-beach:before {
	content: '\e90a';
}

.icon-big-cat:before {
	content: '\e90b';
}

.icon-bird:before {
	content: '\e90c';
}

.icon-boat:before {
	content: '\e90d';
}

.icon-boating:before {
	content: '\e90e';
}

.icon-budget:before {
	content: '\e90f';
}

.icon-bulb:before {
	content: '\e910';
}

.icon-bungee:before {
	content: '\e911';
}

.icon-camping:before {
	content: '\e912';
}

.icon-cart:before {
	content: '\e913';
}

.icon-cross:before {
	content: '\e914';
}

.icon-culture:before {
	content: '\e915';
}

.icon-culture1:before {
	content: '\e916';
}

.icon-cup:before {
	content: '\e917';
}

.icon-desert:before {
	content: '\e918';
}

.icon-diamond:before {
	content: '\e919';
}

.icon-distance:before {
	content: '\e91a';
}

.icon-dolphin-60:before {
	content: '\e91b';
}

.icon-dolphin-76:before {
	content: '\e91c';
}

.icon-dribble:before {
	content: '\e91d';
}

.icon-drop:before {
	content: '\e91e';
}

.icon-duration:before {
	content: '\e91f';
}

.icon-egypt:before {
	content: '\e920';
}

.icon-email:before {
	content: '\e921';
}

.icon-europe:before {
	content: '\e922';
}

.icon-facebook:before {
	content: '\e923';
}

.icon-family:before {
	content: '\e924';
}

.icon-favs:before {
	content: '\e925';
}

.icon-fax-big:before {
	content: '\e926';
}

.icon-fax:before {
	content: '\e927';
}

.icon-filter:before {
	content: '\e928';
}

.icon-fish-jumping:before {
	content: '\e929';
}

.icon-food-wine:before {
	content: '\e92a';
}

.icon-foot-step:before {
	content: '\e92b';
}

.icon-foots:before {
	content: '\e92c';
}

.icon-globe:before {
	content: '\e92d';
}

.icon-google-plus:before {
	content: '\e92e';
}

.icon-grid:before {
	content: '\e92f';
}

.icon-group-large:before {
	content: '\e930';
}

.icon-group-medium:before {
	content: '\e931';
}

.icon-group-small:before {
	content: '\e932';
}

.icon-hiking-camping:before {
	content: '\e933';
}

.icon-home:before {
	content: '\e934';
}

.icon-hunting:before {
	content: '\e935';
}

.icon-jeep:before {
	content: '\e936';
}

.icon-jungle:before {
	content: '\e937';
}

.icon-level1:before {
	content: '\e938';
}

.icon-level2:before {
	content: '\e939';
}

.icon-level3:before {
	content: '\e93a';
}

.icon-level4:before {
	content: '\e93b';
}

.icon-level5:before {
	content: '\e93c';
}

.icon-level6:before {
	content: '\e93d';
}

.icon-level8:before {
	content: '\e93e';
}

.icon-linkedin:before {
	content: '\e93f';
}

.icon-list:before {
	content: '\e940';
}

.icon-locals:before {
	content: '\e941';
}

.icon-lock:before {
	content: '\e942';
}

.icon-luggage:before {
	content: '\e943';
}

.icon-middle-east:before {
	content: '\e944';
}

.icon-minus-normal:before {
	content: '\e945';
}

.icon-plus-normal:before {
	content: '\e946';
}

.icon-minus:before {
	content: '\e947';
}

.icon-mount:before {
	content: '\e948';
}

.icon-mountain-biking:before {
	content: '\e949';
}

.icon-mountain:before {
	content: '\e94a';
}

.icon-music:before {
	content: '\e94b';
}

.icon-north-america:before {
	content: '\e94c';
}

.icon-panda:before {
	content: '\e94d';
}

.icon-peak-climbing:before {
	content: '\e94e';
}

.icon-peak:before {
	content: '\e94f';
}

.icon-penguin:before {
	content: '\e950';
}

.icon-person-budget:before {
	content: '\e951';
}

.icon-person:before {
	content: '\e952';
}

.icon-tel:before {
	content: '\e953';
}

.icon-pin:before {
	content: '\e954';
}

.icon-plane:before {
	content: '\e955';
}

.icon-plant:before {
	content: '\e956';
}

.icon-plus:before {
	content: '\e957';
}

.icon-rural:before {
	content: '\e958';
}

.icon-scuba-diving:before {
	content: '\e959';
}

.icon-search:before {
	content: '\e95a';
}

.icon-share:before {
	content: '\e95b';
}

.icon-snow-ice:before {
	content: '\e95c';
}

.icon-star:before {
	content: '\e95d';
}

.icon-step:before {
	content: '\e95e';
}

.icon-sunny:before {
	content: '\e95f';
}

.icon-tel-big:before {
	content: '\e960';
}

.icon-tent:before {
	content: '\e961';
}

.icon-tick:before {
	content: '\e962';
}

.icon-trash:before {
	content: '\e963';
}

.icon-tree:before {
	content: '\e964';
}

.icon-hiking:before {
	content: '\e965';
}

.icon-twitter:before {
	content: '\e966';
}

.icon-urban:before {
	content: '\e967';
}

.icon-vimeo:before {
	content: '\e968';
}

.icon-water-sea:before {
	content: '\e969';
}

.icon-water-spot:before {
	content: '\e96a';
}

.icon-water:before {
	content: '\e96b';
}

.icon-weight:before {
	content: '\e96c';
}

.icon-wildlife:before {
	content: '\e96d';
}

.icon-world:before {
	content: '\e96e';
}

.icon-link:before {
	content: '\e96f';
}

.icon-copyright:before {
	content: '\e970';
}

.icon-order-history:before {
	content: '\e971';
}

.icon-signout:before {
	content: '\e972';
}

.icon-update-billing:before {
	content: '\e973';
}

.icon-update-profile:before {
	content: '\e974';
}

.icon-user:before {
	content: '\e975';
}

